-ID = "1121";
-$TH = "TH16_Noel";
-$linkRay = "http://www.ideascomfort.co.uk/boutique/rayon_evenement.aspx?pg=0&nbp=99&evenement_id="+ID;
-$ga_ray  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"_id-"+ID+"', document.location.pathname);";
-$txtBtn  = "Go fast";

/ -$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'