-ID = "1114";
-$TH = "TH15_Automne";
-$linkRay = "http://www.tempsl.fr/fr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="+ID;
-$ga_ray  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"_id-"+ID+"', document.location.pathname);";
-$txtBtn  = "Découvrez la sélection";

/ -$styleIE = '<!--[if lte IE 9]> <style type="text/css"> .pck3{top: 10px;} .title-pck3, .sub1-pck3, .sub2-pck3{left: 690px;} </style> <![endif]-->'